<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/floatingtextsignin.css}" rel="stylesheet"/>

    <title>Dodaj książkę</title>
</head>
<body>
<div th:replace="template :: navfix"></div>

<form class="form-signin" method="post" th:action="@{/books/add}" th:object="${bookTO}">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Dodaj książkę</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputTitle" class="form-control" th:field="*{title}" placeholder="Tytuł"
               required autofocus>
        <label for="inputTitle">Tytuł</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('title')}" th:errors="${bookTO.title}"></span>
    </div>


    <div class="form-label-group">
        <input type="number" id="inputprice" class="form-control" th:field="*{price}" placeholder="Cena" required>
        <label for="inputprice">Cena</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('price')}" th:errors="${bookTO.price}"></span>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputAuthor" class="form-control" th:field="*{author}" placeholder="Autor"
               required>
        <label for="inputAuthor">Autor</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('author')}" th:errors="${bookTO.author}"></span>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputPublisher" class="form-control" th:field="*{publisher}" placeholder="Wydawca">
        <label for="inputPublisher">Wydawnictwo</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('publisher')}" th:errors="${bookTO.publisher}"></span>
    </div>
    <div class="form-label-group">
        <input type="url" id="inputUrlPhoto" class="form-control" th:field="*{urlPhoto}" placeholder="Link do zdjęcia" required>
        <label for="inputUrlPhoto">Link do zdjęcia</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('urlPhoto')}" th:errors="${bookTO.urlPhoto}"></span>
    </div>
    <div class="form-label-group">
        <label for="inputDescription">Opis</label>
        <textarea class="form-control" id="inputDescription" rows="3" th:field="*{description}" placeholder=""></textarea>
        <span class="label label-danger" th:if="${#fields.hasErrors('description')}" th:errors="${bookTO.description}"></span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj książkę</button>

</form>
</body>
</html>