<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--Custom CSS-->
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>
    <link th:href="@{/css/floatingtextsignin.css}" rel="stylesheet"/>


    <title>Załóż zamówienie</title>
</head>
<body>
<div th:replace="template :: nav"></div>

<form class="form-signin" method="post" th:action="@{${#httpServletRequest.requestURI}}" th:object="${orderDTO}">
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Załóż zamówienie</h1>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputPhonenumber" class="form-control" th:field="*{phonenumber}" placeholder="Numer telefonu"
               required autofocus>
        <label for="inputPhonenumber">Numer telefonu</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('phonenumber')}"
              th:errors="${orderDTO.phonenumber}"></span>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputStreet" class="form-control" th:field="*{street}" placeholder="Ulica">
        <label for="inputStreet">Ulica</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('street')}" th:errors="${orderDTO.street}"></span>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputZipcode" class="form-control" th:field="*{zipcode}" placeholder="Kod pocztowy"
               required>
        <label for="inputZipcode">Kod pocztowy</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="${orderDTO.zipcode}"></span>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputcity" class="form-control" th:field="*{city}" placeholder="Miasto" required>
        <label for="inputcity">Miasto</label>
        <span class="label label-danger" th:if="${#fields.hasErrors('city')}" th:errors="${orderDTO.city}"></span>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">Złóż zamówienie</button>

</form>

<div th:replace="template :: footer"></div>

</body>
</html>