<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--Custom CSS-->
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>

    <title>Koszyk</title>
</head>
<body>
<div th:replace="template :: nav"></div>
<div class="container">
    <h2>Koszyk</h2>
    <p th:text="${cart.id}"></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tytuł książki</th>
            <th>Cena za sztukę</th>
            <th>Ilość</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form method="post" th:action="@{/cart/editquantity}" th:object="${cart}">
            <tr th:each="cartItem:${cart.cartItems}">
                    <td th:text="${cartItem.book.title}"></td>
                    <td th:text="${cartItem.book.price} + ' zł'"></td>*
                    <td>
                            <input type="number" id="inputQuantity" th:field="*{cartItem.quantity}">
                    </td>
                    <td><a th:href="@{/cart/remove/{id} (id = ${cartItem.book.id})}"
                           class="btn btn-danger">Usuń</a></td>
            </tr>
            <button class=" btn btn-md btn-warning" type="submit">Zaktualizuj</button>
        </form>

        </tbody>
    </table>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>