<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--Custom CSS-->
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>

    <title>Koszyk</title>
</head>
<body>
<div th:replace="template :: nav"></div>
<div class="container">
    <h2>Koszyk</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Tytuł książki</th>
            <th>Cena za sztukę</th>
            <th>Ilość</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="cartItem:${cart.cartItems}">
                    <td th:text="${cartItem.book.title}"></td>
                    <td th:text="${cartItem.book.price} + ' zł'"></td>
                    <td>
                            <a th:href="@{/cart/addOne/{id} (id = ${cartItem.id})}">
                                <img th:src="@{/png/plus.png}"/>
                            </a>
                            <span th:text="${cartItem.quantity}"></span>
                        <a th:href="@{/cart/deleteOne/{id} (id = ${cartItem.id})}">
                                <img th:src="@{/png/minus.png}"/>
                            </a>
                    </td>
                    <td><a th:href="@{/cart/remove/{id} (id = ${cartItem.book.id})}"
                           class="btn btn-danger">Usuń</a></td>
            </tr>
        </tbody>
    </table>
    <p th:text="'Całkowita cena: ' + ${price} + ' zł'"> </p>
    <a th:href="@{/order/make}"><span class="btn btn-md btn-primary">Złóż zamówienie!</span></a>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>