<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/body.css}" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" rel="stylesheet"/>

    <title th:text="${title}">Strona główna</title>
</head>
<body>
<div th:replace="template :: nav"></div>
<div class="container=fluid">
    <div class="jumbotron">
        <div class="col-md-12">
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>

            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
            <h1 class="display-3"> Hello wwwworld!</h1>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</body>
</html>