<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jan Babś">

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/floatingtextsignin.css}" rel="stylesheet" />

    <title th:text="${title}">Strona główna</title>
</head>
<body style=" padding-top: 70px;">
<div th:replace="template :: nav"></div>

<form class="form-signin" th:action="@{/login}" method="post">
    <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
    </div>

    <div class="alert alert-danger" th:if="${param.error}" id='errorDivWithCommunicate'>
        <p id='alertIfWrongLoginOrPassword'>Niewłaściwe nazwa użytkownika lub hasło.</p>
    </div>
    <div class="form-label-group">
        <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
        <label for="login">Login</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required>
        <label for="password">Hasło</label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>

</form>
</body>
</html>